h1 {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family:'Franklin Gothic Medium';
    font-size: 50px;
}

img {
    display: flex;
    justify-content: center;
    border: 2px solid red;
}

body {
    background-color: rgb(148, 170, 139);
}

ul {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
box-shadow: inset;
}
